html,
body {
  padding: 0;
  margin: 0;
  font-family: "Copse", Georgia, "Times New Roman", Times, serif;
  font-optical-sizing: auto;
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

.monospace-label {
  display: flex;
  justify-content: center;
}

.monospace-label span {
  background-color: #aaa;
  color: #000080;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 2px 4px;
}
