html,
body {
  padding: 0;
  margin: 0;
  font-family: Georgia, "Times New Roman", Times, serif;
  /* font-family: 'Helvetica Neue', -apple-system, BlinkMacSystemFont, 'Segoe UI', Roboto, Oxygen, Ubuntu, Cantarell, 'Open Sans', Helvetica, sans-serif; */
}

a {
  color: inherit;
}

* {
  box-sizing: border-box;
}

body {
  background: #000080;
  color: #c3cacc;
  min-height: 100vh;
}

.monospace-label {
  background-color: #aaa;
  color: #000080;
  display: inline-block;
  font-family: "Courier New", Courier, monospace;
  font-weight: bold;
  padding: 0 4px;
}
